/* 
    Created on : 2/11/2019, 02:28:11 PM
    Author     : frangb
*/
.navbar{
    background-color:darkorange;   
}

.div-centrado{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#cerrarventana{
    position: absolute;
    right: 72%;
}

.ventana{
    background: papayawhip;
    width: 30%;
    color: #000;
    font-family: cursive;
    font-size: 18px;
    text-align: center;
    padding: 33px;
    min-height: 250px;
    border-radius: 25px;
    display: none;
    
}

.form-centrado{
    display: flex;
}

.nav-centrado{
	position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.nav-izq{
	position: absolute;
    left: 95%;
    transform: translatex(-95%);
}
